<% provide(:title, "About") %>
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>About Griffith!</h1>
        <h3>Griffith College is Ireland's leading private college with campuses in Cork, Dublin and Limerick</h3>        
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Welcome from the President</h2>
          <p>Griffith College prides itself on the graduates we have produced over the past 40 years. These ambitious, enterprising and talented young men and women have carved out notable careers across a diverse range of industries. </p>
          <em>Prof Diarmuid Hegarty<br />
          President of Griffith College</em>
        </div>
        <div class="col-md-4">
          <h2>Wide variety of amenities and facilities on your doorstep</h2>
          <p>With over 7,000 students at its campuses in Dublin, Cork and Limerick, Griffith College is the ideal choice for students seeking a strong education and a vibrant college life. Each campus is centrally located, meaning you have a wide variety of amenities and facilities on your doorstep, and with a large selection of clubs and societies, from football and basketball to film and photography, there are plenty of ways to get to know your fellow students!</p>
       </div>
        <div class="col-md-4">
          <h2>Game Room</h2>
          <p><%= image_tag("RelaxingPlayingPool.png") %></p>
        </div>
      </div>