<div class="jumbotron">
    <div class="container">
        <h1>Find a Course</h1>
        <h4>
        	Check out the wide range of courses that we offer at Griffith College’s from undergraduate, postgraduate and short courses.
        </h4>        
    </div>
</div>
<div class="row marketing">
	<div class="col-lg-1"></div>
	<div class="col-lg-5">
        <h2>ACCA (Association of Chartered Certified Accountants)</h2>
		<h3>Professional</h3>
		<p>
			ACCA for the February-June 2015 term will begin during week commencing 16th February 2015. Timetables are available on our website.
		</p>
		<strong>Cork:</strong> <em>Full-Time, Part-Time, Online</em><br/>
		<strong>Dublin:</strong> <em>Full-Time, Part-Time, Online</em><br/>
		<strong>Limerick:</strong> <em>Full-Time, Part-Time, Online</em>
          
        <h2>MBA in International Business<h2>
		<h3>Postgraduate</h3>
		<p>
			This programme is designed to prepare graduates for careers in international business. It provides an innovative route to an internationally recognised MBA qualification
		</p>
		<strong>Dublin:</strong> <em>Full-Time, Part-Time</em>
    </div>

    <div class="col-lg-5">
        <h2>BA (Hons) in Accounting & Finance</h2>
		<h3>Undergraduate</h3>
		<h4>Study Abroad</h4>
		<p>
			The programme gives you an understanding of the legal, business and social environments in which accountancy operates and enables you to be conversant in the technical languages.
		</p>
		<strong>Cork:</strong> <em>Full-Time, Part-Time</em><br/>
		<strong>Dublin:</strong> <em>Full-Time, Part-Time</em><br/>
		<strong>Limerick:</strong> <em>Full-Time, Part-Time</em>

        <h2>AutoCAD 3D Advanced</h2>
		<h3>Short Course</h3>
		<p>
			This part-time evening course was designed for participants looking to develop their skill in drafting procedures to create and modify new or existing 3D objects.
		</p>
		<strong>Dublin:</strong> <em>Part-Time</em>
	</div>
    <div class="col-lg-1"></div>
</div>