<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Our Campuses!</h1>
        <h4>
        	Established in 1974, Griffith College provides a wide range of full and part-time certificate, diploma, degree and postgraduate courses and is home to over 7,000 students. Our campuses are easily accessible via car and public transport and centrally located within each city, so you have a wide range of amenities on your doorstep. Each campus has its own unique history and character. For more information on our locations in Cork, Dublin and Limerick please choose from the options below.
        </h4>        
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Dublin</h2>
          <p>
          	Welcome to Griffith College’s Dublin campus, home to Ireland’s largest independent third level college with over 7,000 students. Located in the heart of Dublin City, this 7 acre campus has a heritage dating back over 200 years. Here you will find information on our courses, faculty teams, campus facilities, and all the latest news and events taking place at GCD.
          </p>
          <p><%= image_tag("dublincampus.jpg") %></p>
        </div>
        <div class="col-md-4">
          <h2>Cork</h2>
          <p>
          	GRIFFITH COLLEGE CORK (GCC) Skerry’s has been at the forefront of education in Cork since 1884, and has a long history of providing quality education. The College campus is located on Wellington Road, just a fifteen minutes walk from St. Patrick’s Street, the main shopping street in Cork city centre. It is approximately five hundred metres from the main train station serving a wide variety of towns and cities. The main bus station is a fifteen minute walk from the College and most bus routes start and terminate there.
          </p>
          <p><%= image_tag("corkcampus.png") %></p>
       </div>
        <div class="col-md-4">
          <h2>Limerick</h2>
          <p>
          	Located in in the heart of Limerick students enjoy all of the amenities and facilities available to students in the city centre. The college provides a wide range of internationally recognised full-time and part-time courses. All courses are taught from a state-of-the-art facility on O’Connell Avenue. Our track record for excellence is demonstrated in the many prize-winners and successful graduates the College produces each year.
          </p>
          <p><%= image_tag("limerickcampus.png") %></p>
        </div>
      </div>